
body {
  margin-top: 1.0em;
  background-color: #ffffff;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  color: #000000;
}
#container {
  margin: 0 auto;
  width: 700px;
}
h1 { font-size: 3.8em; color: #000000; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #000000; }
h3 { text-align: center; color: #000000; }
a { color: #000000; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }

ul {
  padding: 0;
  margin: 30px 0 30px 0;
  height: 420px;
}

li {
  list-style-type: none;
  margin: 10px;
  float: left;
}

li a {
  display: block;
  width: 300px;
  height: 110px;
}

li.basics a { background-image: url( "../../assets/images/button-basics.png"); }
li.sprites a { background-image: url( "../../assets/images/button-sprites.png"); }
li.input a { background-image: url( "../../assets/images/button-input.png"); }
li.vectors a { background-image: url( "../../assets/images/button-vectors.png"); }
li.maps a { background-image: url( "../../assets/images/button-maps.png"); }
li.events a { background-image: url( "../../assets/images/button-events.png");}

div.box {
  background-color: #ddd;
  padding: 20px;
}